@using OrchardCore.ContentManagement
@using OrchardCore.ContentManagement.Metadata
@using OrchardCore.Mvc.Utilities

@inject IContentDefinitionManager ContentDefinitionManager

@{
    ContentItem contentItem = Model.ContentItem;
    var contentTypeDefinition = ContentDefinitionManager.GetTypeDefinition(contentItem.ContentType);
    var typeDisplayName = contentTypeDefinition?.DisplayName ?? contentItem.ContentType.CamelFriendly();
    //Model.Header.Add(await New.Content_Edit__Header(Action: "Edit", TypeDisplayName: typeDisplayName));
    Model.Header.Add(await New.Content_Edit__Header(Title: T["Edit {0}", Html.Raw(typeDisplayName)]));
}

@*<div class="container-fluid no-padding">
    <div class="row">
        <div class="col-12 col-md-8 col-xl-10">
            <h1>@RenderTitleSegments(T["Edit {0}", Html.Raw(typeDisplayName)])</h1>
        </div>
    </div>
</div>*@
<form asp-action="Edit" asp-route-contentitemid="@contentItem.ContentItemId" asp-route-returnUrl="@Context.Request.Query["ReturnUrl"]" method="post" enctype="multipart/form-data">
    @*<div class="container-fluid no-padding">
        <div class="row">
            <div class="col-12 col-md-8 col-xl-10">
                @Html.ValidationSummary()

            </div>
        </div>
    </div>*@
    @await DisplayAsync(Model)
</form>