@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../node_modules/bootstrap/scss/mixins";

.edit-item-actions .btn-group {
  padding-bottom: 5px;
  //   a {
  //     display: inline-flex;
  //     width: 100%;
  //   }

  a,
  button:first-of-type {
    display: inline-flex;
    width: 100%;
  }
}

.meta-body {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important;
}
.meta-content {
  padding-top: 5px;
  padding-bottom: 5px;
}
.meta-detail {
  color: #495057;
  font-size: 14px;
  display: block;
}
.meta-title {
  color: #6c757d !important;
  font-weight: 400;
  font-size: 80%;
  display: block;
}
.edit-container {
  display: table;
  border-collapse: separate;
  border-spacing: 8px;
  width: 100%;
}

.edit-body {
  vertical-align: top;
  display: table-cell;
}

.edit-sidebar-handler {
  display: table-cell;
  border: 0;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  cursor: col-resize;
  padding-left: 1px;
  padding-right: 1px;
  width: 3px;
}

.edit-sidebar {
  visibility: hidden;
  vertical-align: top;
  display: table-cell;
  padding-left: 15px;
}

#show-selected-card .list-group-item {
  min-height: 64px;
}

.list-group-item.disabled-content-type .icon-toolbar {
  display: none;
}

@include media-breakpoint-up(md) {
  .content-sidebar {
    position: sticky;
    top: 72px;
  }
}

.no-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
